<div>
  <h3>*ngIf Implementation</h3>
  <input type="radio" name="rdValid" (click)="CheckValid(true)">Valid
  <input type="radio" name="rdValid" (click)="CheckValid(false)">Invalid
  <div *ngIf=isAdmin>He is Admin</div>
  <div *ngIf=!isAdmin>He is not Admin</div>
  <div *ngIf="isAdmin then isAdminBlock;else isNotAdminBlock">
  </div>
  <ng-template #isAdminBlock>
    <p>This is admin Implemented using *ngif then</p>
  </ng-template>

  <ng-template #isNotAdminBlock>
    <p>This is not admin Implemented using *ngif then</p>
  </ng-template>

  <input type="radio" name="number" value="one" [(ngModel)]="optionSelect"> one
  <input type="radio" name="number" value="two" [(ngModel)]="optionSelect"> two
  <input type="radio" name="number" value="three" [(ngModel)]="optionSelect"> three
  <input type="radio" name="number" value="four" [(ngModel)]="optionSelect"> four
  <input type="radio" name="number" value="five" [(ngModel)]="optionSelect"> five

  <div [ngSwitch]="optionSelect">
    <h1 *ngSwitchCase="'one'">One</h1>
    <h1 *ngSwitchCase="'two'">Two</h1>
    <h1 *ngSwitchCase="'three'">Three</h1>
    <h1 *ngSwitchCase="'four'">Four</h1>
    <h1 *ngSwitchCase="'five'">Five</h1>
    <h1 *ngSwitchDefault>Default</h1>
  </div>

</div>
<app-employee></app-employee>