<p>employee works!</p>
<div id="empList">
    <ul>
        <div *ngFor="let employee of Employees; let i =index; trackBy:trackByEmployeeId">
            <li>
                <ul> Emp Id: {{employee.EmpId}}</ul>
                <ul> Emp Name: {{employee.EmpName}}</ul>
                <ul> Emp phone: {{employee.EmpPhone}}</ul>
                <ul> Emp Address:{{employee.EmpAddress}}</ul>
                <ul> Emp Gender: {{employee.EmpGender}}</ul>
            </li>
        </div>
    </ul>
</div>
<button (click)="submitUpdate()">Refresh</button>