<p>employee works!</p>
<div id="empList">
    <ul>
        <div *ngFor="let employee of Employees; let i =index; trackBy:trackByEmployeeId" [ngStyle]="{'border':'solid black 2px'}">
            <li>
                <ul [ngClass]="'innerBorder'"> Emp Id: {{employee.EmpId}}</ul>
                <ul [ngClass]="'innerBorder'" > Emp Name: {{employee.EmpName}}</ul>
                <ul [ngClass]="'innerBorder'"> Emp phone: {{employee.EmpPhone}}</ul>
                <ul [ngClass]="'innerBorder'"> Emp Address:{{employee.EmpAddress}}</ul>
                <ul [ngClass]="'innerBorder'"> Emp Gender: {{employee.EmpGender}}</ul>
            </li>
        </div>
    </ul>
</div>
<button (click)="submitUpdate()">Refresh</button>